GREENFIELD_USE_LOCAL=false
GREENFIELD_BUCKET_NAME=chaincred
GREENFIELD_API_KEY=3896cfc5121665d751c206d95b03550358717087d64f685da5fb594c49fbf024
GNFD_GRPC_URL=https://gnfd-testnet-sp1.bnbchain.org
GNFD_CHAIN_ID=5600
PUBLIC_BASE_URL=http://localhost:3000